
@{
    ViewBag.Title = "DisplayEmail";
}

<h2 class="badge bg-success badge bg-secondary">DisplayEmail</h2>

<p class="alert alert-success" role="alert">
    Further instructions for completing registration have
    been sent to the specified email address
</p>