
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>
@if (ViewBag.Error != null)
{
    <b>@ViewBag.Error</b>
    //TODO
}

<form>
    <p>
        <label for="login" class="col-lg">
            Enter your email:
        </label>
        <input type="text" name="email" />
    </p>
    <p>
        <input type="submit" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto" formmethod="post" autocomplete="off" value="Input" color="Red">
    </p>
</form>

