@using CrossNull.Web.Model
@model InitViewModel

<h2>NewGame</h2>
<form action="/Game/NewGame" method="post" autocomplete="off">
    <fieldset>
        <legend>Input name of players :</legend>
        <p>
            <label for="login" class="col-lg">
                Player One name:
                @Html.EditorFor(Model => Model.NameOne, new
           { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Input name" } })

            </label>
        </p>
        <p>
            <label for="login">
                Player Two name:
                @Html.EditorFor(Model => Model.NameTwo, new
           { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Input name" } })

            </label>
        </p>
        <p>
            <input type="submit" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto"  formmethod="post" autocomplete="off" value="Input" color="Red">
        </p>
    </fieldset>
</form>
