@using CrossNull.Web.Model
@model InitViewModel
<h2>NewGame</h2>
<form action="/Game/NewGame" method="post" autocomplete="off">
    <fieldset>
        <legend>Input name of players :</legend>
        <p>
            <label for="login">Player One name:</label>
            @Html.EditorFor(Model => Model.NameOne)
            @*<input type="text" name="playerOne.Name" id="login" />*@
            <label for="password">Password player One:</label>
            <input type="password" name="yy" id="password" /><br>
        </p>
        <p>
            <label for="login">Player Two name:</label>
            @Html.EditorFor(Model => Model.NameTwo)
            @*<input type="text" name="nameTwo" id="login" />*@
            <label for="password">Password player Two:</label>
            <input type="password" name="password" id="password" /><br>
        </p>
        <p>
            <input type="submit" formmethod="post" autocomplete="off" value="Input" color="Red">
            <button type="reset">Cancel</button>
        </p>
    </fieldset>
</form>
@Html.DropDownList("eee", new List<SelectListItem>() { new SelectListItem() { Text = "Prise", Value = "2" } })
