
@using CrossNull.Logic.Models;
@using CSharpFunctionalExtensions;
@using CrossNull.Domain;
@model Result<GameModel>
@{
    ViewBag.Title = "NewGame";
}


<h1>Game</h1>
@if (ViewBag.Message != null)
{
    <h2>@ViewBag.Message</h2>
}
<h2>Your step @Model.Value.PlayerActive.Name</h2>


<style>
    td {
        width: 200px;
        height: 200px;
        border: solid 2px silver;
        text-align: center;
    }
</style>


<table>

    @for (int i = 0; i < 3; i++)
    {
        <tr>
            @for (int j = 0; j < 3; j++)
            {
                //TODO избавиться от ViewBag
            <td>
                @{
                    Cell temp = Model.Value.State.Cells.SingleOrDefault(s => s.X == i && s.Y == j);
                }
                @if (temp != null)
                {
                    @temp.State;
                }
                else
                {
                    @Html.ActionLink("Empty", "Step", "Game", new { gameId = Model.Value.Id, x = i, y = j }, null)
                }
            </td>
            }
        </tr>
    }
</table>


