@using CrossNull.Logic.Models;
@using CSharpFunctionalExtensions;
@{
    ViewBag.Title = "PlayerWin";
}

<h1>Congratulations<span class="badge bg-success badge bg-secondary">PlayerWin</span></h1>

<div class="alert alert-success" role="alert">
    @ViewBag.Message
</div>